.mainHeaderLink {
	position: relative;

	&:hover {
		.mainHeaderImg {
			transition: all 0.3s ease-in-out;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.shoppingBasketCount {
	width: 20px;
	height: 20px;
	background-color: #769b54;
	color: #fff;
	border-radius: 100px;
	position: absolute;
	top: -25px;
	right: -10px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.2s ease;

	&.visible {
		opacity: 1;
	}
}
