.catalogCardText {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.shoppingBasketItem {
	width: 100%;
	max-width: 274px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
