.mainHeaderNavList {
	width: 100%;
	display: flex;
	gap: 65px;
	align-items: center;
	justify-content: center;
}

.mainHeaderNavLink {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	font-family: 'Fira Sans', sans-serif;
}
