.mainFooterNavList {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mainFooterNavListLink {
	color: #fdcf55;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: #fff;
	}
}
