.spinerWrapper {
	width: 100%;
	height: 50vh;
	padding: 0 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	width: 250px;
	height: 250px;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border-top: 4px solid #fdcf55;
	animation: spin 1s linear infinite;
	margin: 20px auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
