.socMediaBlock {
	width: 100%;
	max-width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.socMediaLink {
	transition: all 0.3s ease-in-out;

	&:hover {
		.socMediaIcon {
			transform: scale(1.2);
		}
	}

	&:active {
		.socMediaIcon {
			opacity: 0.5;
		}
	}
}

.socMediaIcon {
	transition: all 0.3s ease-in-out;
}
